*{
  box-sizing: border-box;
}


body{
  background:#faede3;
}

img{
  width: 100%;
}

.btn{
  outline:none;
  background:transparent;
  border:2px solid #4b3207;
  padding: .5em;
  color: #4b3207;
  margin-top: 2em;
  width:100%;
  border-radius:25px;
  transition: background-color linear .2s;
}

.btn:hover{
  background-color: deepskyblue;
  border: 2px solid deepskyblue;
  color: white;
}

.title{
  font-family: 'Roboto Condensed', Sans-Serif;
  font-weight:700;
  color: #4b3207;
  font-size:2rem;
}

.container{
  width:93%;
  margin: 0 auto;
}
.container-nav{
  background: #f7c166;
  padding: .5em 0;
  color: #4b3207;
  box-shadow: 0 1em 5em black;
}

.row{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.hero{
  position:relative;
  height:60vh;
}

.sliderOverflow{
  height:74%;
}

nav ul{
  display:flex;
}

nav li{
  font-size: .75rem;
  text-transform: uppercase;
  margin-left:.5em;
}

.hero_buy-btn{
  position:absolute;
  transition: display .2s;
  top:53%;
  right:0;
  bottom:0;
  left:40%;
  width: 5em;
  height: 2em;
  border: 1px solid white;
  background: transparent;
  color:white;
}


.product{
  padding: 1.5em;
  background: white;
  border-radius: 25px;
  margin-top: 2em;
}

.product img{
  border-radius: 25px;
  max-height: 400px;
  object-position: center;
  object-fit: cover;
}

/*typography*/

.hero_text{
  padding-top:1em;
}

.brand-name{
  font-size: 2rem;
  font-family: 'Shrikhand', 'Times New Roman';
  font-weight: bolder;
  text-transform: uppercase;
}

.hero_title{
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1.1em;
  padding-bottom: .5em;
}


.hero_subtitle{
  display:none;
}

.product_description{
  margin-top: .5em;
}